@model ReflectionIT.Mvc.Paging.PagingList<RosaFoods.Models.Pizza>

@{
    ViewData["Title"] = "Index";
}
<h3>Pizzas</h3>

<form method="get" class="form-inline">

    <input name="filter" class="form-control" placeholder="filtro"
           value="@Model.RouteValue["Filter"]" />

    <button type="submit" class="btn btn-info">Procurar</button>
</form>

Total de Pizzas : @Model.TotalRecordCount
<div>
    <vc:pager paging-list="@Model"></vc:pager>
</div>

<p>
    <a asp-action="Create">Criar Pizza</a>
</p>
<div class="row">
    <div class="col-md-10">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DescricaoCurta)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Preco)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsPizzaFavorita)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmEstoque)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Categoria)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DescricaoCurta)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Preco)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsPizzaFavorita)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmEstoque)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Categoria.CategoriaNome)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.PizzaId">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.PizzaId">Detalhes</a> |
                            <a asp-action="Delete" asp-route-id="@item.PizzaId">Deletar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>